<div class="col-12 pt-5 d-flex justify-content-center">
  <table>
    <tbody>
      <tr>
        <td class="pb-5 pr-5">
          <h5>おてつだい名</h5>
        </td>
        <td>
          <h5><%= @help.name %></h5>
        </td>
      </tr>
      <tr>
        <td class="pb-5 pr-5">
          <h5>内容</h5>
        </td>
        <td>
          <h5><%= @help.contents %></h5>
        </td>
      </tr>
      <tr>
        <td class="pb-5 pr-5">
          <h5>もらえるポイント</h5>
        </td>
        <td>
          <h5><%= @help.get_point %>ポイント</h5>
        </td>
      </tr>
      <tr>
        <td class="pb-5 pr-5"></td>
        <td>
          <%= link_to edit_admin_help_path(@help.id) do %>
            <button class="btn btn-success w-50">編集</button>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>