<div class="col-8 d-flex justify-content-center">
  <table class="table">
    <tbody>
      <tr align="center">
        <td>
          <h4>おてつだい名</h4>
        </td>
        <td>
          <h4><%= @help.name %></h4>
        </td>
      </tr>
      <tr align="center">
        <td>
          <h4>内容</h4>
        </td>
        <td>
          <h4><%= @help.contents %></h4>
        </td>
      </tr>
      <tr align="center">
        <td>
          <h4>もらえるポイント</h4>
        </td>
        <td>
          <h4><%= @help.get_point %>ポイント</h4>
        </td>
      </tr>
      <tr align="center">
        <td></td>
        <td>
          <%= link_to edit_admin_help_path(@help.id) do %>
            <button class="btn btn-success">へんしゅう</button>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>