// Place all the styles related to the admin/Rewards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 20%;
  margin-left: 30px;
  margin-bottom: 10px;
}