<div class="container">
  <div class="about-title">
    <h2 class="title">
      家で毎日家事が忙しくて「誰か手伝ってほしい」と思ったとき、こどもは「面白くないしめんどくさい」などで手伝ってくれない。
      そんな時にお手伝いをすることでポイントを獲得し、自分が欲しいごほうびを決め、獲得したポイントで欲しいごほうびと交換ができる！！
      毎日の「めんどくさい」を家族みんなで「楽しい」に変えるおてつだいサービスです。
    </h2>
  </div>
</div>