<div class="container">
  <div class="about-title">
    <h4 class="title">
      家事が忙しくて誰かに手伝ってほしい時に、こどもと一緒に楽しくおてつだいをするおてつだいサービスです！
    </h4>
  </div>
  <div class="irasuto">
    <div class="irasuto-text">
      <p class="text">やらないといけないことがいっぱいで忙しい！</p>
      <div class="irasuto-box-1"></div>
    </div>
    <div class="irasuto-arrow-1"></div>
    <div class="irasuto-text">
      <p class="text">忙しいママをてつだってポイントをゲットしよう！</p>
      <div class="irasuto-box-2"></div>
    </div>
  </div>
  <div class="irasuto">
    <div class="irasuto-arrow-2"></div>
  </div>
  <div class="irasuto">
    <div class="irasuto-text">
      <p class="text">ためたポイントでごほうびをゲットしよう！</p>
      <div class="irasuto-box-3"></div>
    </div>
  </div>
</div>