<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h2>本当に退室しますか？</h2>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <h5 class="mb-3">
        退室すると、これまでのお手伝いでためたポイントや
      </h5>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <h5 class="mb-3">
        達成したごほうびのりれきなどもなくなってしまいます。
      </h5>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <h5 class="mb-5">
        退室する場合は「退室する」をおしてください。
      </h5>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="col-6 d-flex justify-content-between">
        <div>
          <%= link_to kids_path do %>
            <button class="btn btn-primary w-100">退室しない</button>
          <% end %>
        </div>
        <div>
          <%= link_to withdraw_kids_path, method: :patch, data: { confirm: "本当に退室しますか？" } do %>
            <button class="btn btn-danger w-100">退室する</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>