<div class="container">
  <div class="row mt-5">
    <div class="col-5 d-flex justify-content-center">
      <%= attachment_image_tag @reward, :image, format: 'jpeg', class: "rounded-circle", size: "200x200", fallback: "no_image.jpg" %>
    </div>
    <div class="col-7 d-flex justify-content-center">
      <table>
        <tbody>
          <tr>
            <td class="pb-5 pr-5">
              <h5>ごほうび名</h5>
            </td>
            <td>
              <h5><%= @reward.title %></h5>
            </td>
          </tr>
          <tr>
            <td class="pb-5 pr-5">
              <h5>ひつようポイント</h5>
            </td>
            <td>
              <h5><%= @reward.total_point %>ポイント</h5>
            </td>
          </tr>
          <tr>
            <td class="pb-5 pr-5">
              <h5>おうえんメッセージ</h5>
            </td>
            <td>
              <h5><%= @reward.message %></h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>