<div class="container">
  <div class="row">
    <div class="col-5 d-flex justify-content-center">
      <%= attachment_image_tag @reward, :image, format: 'jpeg', class: "rounded-circle", size: "200x200", fallback: "no_image.jpg" %>
    </div>
    <div class="col-7 d-flex justify-content-center">
      <table>
        <tbody>
          <tr>
            <td>ごほうび名</td>
            <td>
              <%= @reward.title %>
            </td>
          </tr>
          <tr>
            <td>ひつようポイント</td>
            <td>
            <%= @reward.total_point %>ポイント
            </td>
          </tr>
          <tr>
            <td>おうえんメッセージ</td>
            <td>
              <%= @reward.message %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-8 d-flex justify-content-between">
      <div>
        <button class="btn btn-success">ほしいリストに入れる</button>
      </div>
      <div>
        <button class="btn btn-success">目標のごほうびに設定</button>
      </div>
    </div>
  </div>
</div>