<div class="container">
  <h2>おてつだいリスト</h2>
  <div class="row">
    <table class="table table-bordered">
      <thead bgcolor="white">
        <tr align="center">
          <th>おてつだい名</th>
          <th>内容</th>
          <th>もらえるポイント</th>
          <th></th>
        </tr>
      </thead>
      <% @helps.each do |helps| %>
      <tbody bgcolor="white">
        <tr align="center">
          <td>
            <%= helps.name %>
          </td>
          <td>
            <%= helps.contents %>
          </td>
          <td>
            <%= helps.get_point %>ポイント
          </td>
          <td>
            <%= link_to help_items_path(help_id: helps.id), method: :post do %>
              <button class="btn btn-success">てつだう</button>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>