// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.irasuto {
  display: flex;
}

.irasuto-arrow {
  width: 100px;
  height: 50px;
  background-image: url(22426348.png);
  background-size: contain;
}

.irasuto-box-1 {
  width:  400px;
  height: 300px;
  background-image: url(132682.png);
  background-size: contain;
  margin: 0 auto;
}

.irasuto-box-2 {
  width:  300px;
  height: 300px;
  background-image: url(1109975.png);
  background-size: contain;
  margin: 0 auto;
}

.irasuto-box-3 {
  width:  250px;
  height: 190px;
  background-image: url(22246538.png);
  background-size: contain;
  margin: 0 auto;
}