// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.irasuto {
  display: flex;
  margin-top: 30px;
}

.title {
  font-size: 30px;
  margin-bottom: 50px;
}

.text {
  color: green;
}

.irasuto-arrow-1 {
  width: 100px;
  height: 50px;
  margin-top: 120px;
  background-image: url(22426348.png);
  background-position: center;
  background-size: cover;
}

.irasuto-arrow-2 {
  width: 80px;
  height: 100px;
  margin: 0 auto;
  background-image: url(22505469.png);
  background-size: contain;
}

.irasuto-text {
  text-align: center;
  margin: 0 auto;
}

.irasuto-box-1 {
  width:  400px;
  height: 300px;
  background-image: url(132682.png);
  background-position: center;
  background-size: cover;
}

.irasuto-box-2 {
  width:  300px;
  height: 300px;
  background-image: url(1109975.png);
  background-position: center;
  background-size: cover;
}

.irasuto-box-3 {
  width:  250px;
  height: 190px;
  background-image: url(22246538.png);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}