<div class="container">
  <h2>おてつだいりれき</h2>
  <div class="col-12 d-flex justify-content-center">
    <table class="table table-bordered">
      <thead>
        <tr align="center">
          <th>おてつだい日</th>
          <th>おてつだい名</th>
          <th>もらえるポイント</th>
          <th>おてつだい状況</th>
        </tr>
      </thead>
      <% @help_items.each do |help_item| %>
      <tbody>
        <tr align="center">
          <td>
            <%= help_item.help.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td>
            <%= help_item.help.name %>
          </td>
          <td>
            <%= help_item.help.get_point %>
          </td>
          <td>
            <%= help_item.help_status %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>